.bucket span {
	/* add space between containers so they wrap */
	display: block;
}

.sticky {
	/* replace 10px. Keeps series headears from moving when expanded. */
    padding-bottom: 0px;
}

.series-data .row:nth-child(even) {
    background: #ddd;
}

.series-data .row:nth-child(odd) {
    background: #FFF;
}

.series-desc .row:nth-child(even) {
    background: initial !important;
}
